/* this is css file */

body{
    margin-top: 50px;
    margin-left: 50px;
}

#first-section{
    padding: 30px;
    background-color: khaki;
    border-radius: 20px;
}

#text-btn{
    border: 2px solid silver;
    border-radius: 5px;
    padding: 5px 10px;
}

/* first section ends and second starts */

#second-section{
    padding: 20px;
    background-color: bisque;
    border-radius: 15px;
    margin-top: 10px;
}

#num-btn{
    border: 2px solid silver;
    border-radius: 5px;
    padding: 5px 10px;
}

#count{
    font-size: 40px;
}

/* second section ends and third section starts */

#third-section{
    margin-top: 1.5rem;
    padding: 2rem 8rem;
    text-align: center;
    background-color: darkseagreen;
    border-radius: 1.25rem;
}

#hidden-text{
    font-size: 1rem;
    color: #fff;
}

#hide-btn{
    border: 2px solid silver;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
}
